<nav class="navbar navbar-expand navbar-dark bg-dark">
    <img [src]="imageSrc" width=60 height=50 class="img1">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">
            <h3 class="text" style="color:white;">U-Pay</h3>
        </a>
        <a *ngIf="currentUser" class="nav-item nav-link" style="right:20px;position: absolute;"
            (click)="logout()">Logout</a>
        <a *ngIf="currentUser" style="right:10%;position: absolute;" class="nav-item nav-link">
             Welcome {{currentUser.name}}!</a>
        <span class="nav-item nav-link" style="left:75px;top:38px;position: absolute;"><span>
            One Payment Solution</span></span>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<footer style="text-align: right;">
    <div>Prepared By</div>
    <div> Team 5</div>
</footer>