<!-- nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <img [src]="imageSrc" width=60 height=50 class= "img1">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" >Home</a>
        <a class="nav-item nav-link" style="right:0;position: absolute;" (click)="logout()">Logout</a>
        
    </div>
</nav>
<!-- <app-table></app-table>  -->
<!--main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>



<!-- credits -->


    <footer style="text-align: right;">
        
        <div>Prepared By</div>
         <div> Team 5</div>

    </footer>
